# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist-info/
.eggs/

# IDE/Editor
.idea/
.vscode/

# Logs
*.log
logs/
!logs/.gitkeep

# Virtual envs
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Environment
.env

# Caches
.cache/
pytest_cache/
http_cache.sqlite

# Project data and artifacts
cache/
!cache/.gitkeep

data/posters/

data/*.json
!data/.gitkeep

filtered_result.json

# Docker
*.pid
